.container {
  position: relative;
  width: 100%;
}
.header {
  background-color: #aaaaaa;
  text-align: center;
}
.dog-div {
  position: relative;
  display: flex;
  direction:row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  font-size: medium;
  margin: 5px auto;
}
.update-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.img-container{
  width: 50%;
}
.dog-img {
  position: relative;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}